.example-spacer {
    flex: 1 1 auto;

    @media (max-width: 768px) {
        flex: none;
    }
}

mat-toolbar-row {

    @media (max-width: 768px) {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
}

.title {
    font-size: 26px;
    line-height: 24px;
}

.registration {
    margin-left: 20px;
}

.header {

    @media (max-width: 768px) {
        height: 100px;
    }

    &__btns {

        @media (max-width: 768px) {
            margin-top: 15px;
        }
    }
}