<div class="container">
    <h1>Регистрация</h1>
    <form class="auth-form">
        <p>
            <mat-form-field appearance="outline">
            <mat-label>Введите логин</mat-label>
            <input matInput placeholder="temamx">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Введите пароль</mat-label>
                <input matInput placeholder="******">
            </mat-form-field>
        </p>
        <button color="primary" style="width: 330px; height: 55px; font-size: 18px; line-height: 24px;" mat-raised-button>Зарегистрироваться</button>
    </form>
    <div class="redirect">
        Уже есть аккаунт?
        <a routerLink="">Войти</a>
    </div>
</div>
